#profilepic {
  width: 10%;
  height: 10%;
  display: block;
  margin: auto;
  border-radius: 50%;
}

#logo {
  width: 5%;
  height: 5%;
  margin-right: 10px;
  margin-left: 10px
}

.logoholder {
  width: 50%;
  margin: 50px auto auto auto;
  text-align: center;
}

.title {
  margin-top: 50px;
  text-align: center;
}

.description {
  text-align: center;
}
